:root {
  --green: #b9bf04;
  --light-green: #c9cc5e;
  --dark-green: #565902;
  --medium-green: #888c03;
  --light-gray: #d9d9d9;
  --subtle-gray: #ccc;
  --light-light-gray: rgba(241, 241, 241, 0.548);
  --black: #070c05;
  --white: #fff;
  --dark-gray: #565759;
  --blue-green: #0a3641;
  --dark-blue: #3f3d56;
  --red: rgb(173, 0, 0);
  --starred: #eac814;
  --lato: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  --josefin: "Josefin Sans", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  --source-sans-regular: "Source Sans Pro Regular", "Gill Sans", "Gill Sans MT",
    Calibri, "Trebuchet MS", sans-serif;
  --source-sans-black: "Source Sans Pro Black", "Gill Sans", "Gill Sans MT";
  --manrope-bold: "Manrope Bold", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  --source-sans-bold: "Source Sans Pro Bold", "Gill Sans", "Gill Sans MT";
}

@font-face {
  font-family: Lato;
  src: url(/assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Manrope Bold";
  src: url(/assets/fonts/Manrope-ExtraBold.ttf);
}

@font-face {
  font-family: "Josefin Sans";
  src: url(/assets/fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url(/assets/fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
  font-family: "Source Sans Pro Black";
  src: url(/assets/fonts/SourceSansPro-Black.ttf);
}

@font-face {
  font-family: "Source Sans Pro Light";
  src: url(/assets/fonts/SourceSansPro-Light.ttf);
}

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url(/assets/fonts/SourceSansPro-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro Regular", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  appearance: none;
}

.logo {
  width: 84px;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
}

.go-to-checkout-link {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  padding-top: 0.5rem;
  font-weight: 700;
}

.go-to-checkout-link:hover {
  color: var(--green);
}

.checkout-button,
.purchase-button,
.call-to-action,
.about-button,
.card__buy-button,
.form-submit {
  font-size: 1rem;
  transition: all 500ms;
}

.checkout-button {
  padding: 1rem;
}

.buy-button {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background: var(--green);
  padding: 1rem;
  border-radius: 5px;
  border: none;
  appearance: none;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 500ms;
  position: relative;
}

.buy-button.added {
  background-color: var(--light-gray);
  cursor: not-allowed;
}

.buy-button.error {
  background-color: var(--red);
  color: #fff;
  cursor: not-allowed;
}

.buy-button:not(.added):not(.error):hover {
  background-color: var(--light-green);
  box-shadow: 0 0 20px 1px #00000014;
}

.wait-indicator {
  background-color: var(--blue-green);
  color: #fff;
  cursor: not-allowed;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  animation: button-waiting 3s forwards;
  opacity: 0.5;
}

@keyframes button-waiting {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.card__buy-button {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background: var(--green);
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  appearance: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 500ms;
}

.card__buy-button:hover {
  background-color: var(--light-green);
  box-shadow: 0 0 20px 1px #00000014;
}

.posts {
  width: 100%;
}

.post {
  margin: 2rem 0;
}

.posts a {
  display: block;
  padding: 2rem 0;
}

.post h2 {
  margin-bottom: 1rem;
}

.post p {
  max-width: 700px;
  margin-top: 1rem;
}

.post img {
  max-width: 350px;
}

.message-box {
  padding: 2rem;
  background-color: var(--light-light-gray);
  margin: 1rem 0;
  border-left-style: solid;
  border-left-width: 4px;
}

.message-box__success {
  border-left-color: #b9bf04;
}

.message-box__info {
  border-left-color: #0a7b9c;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* header section - all pages  */
header {
  border-width: 1px;
  background-color: var(--light-gray);
  width: 100vw;
  position: fixed;
  top: 0;
  box-shadow: rgb(144, 144, 144) 10px 1px 40px;
  z-index: 100;
}

h1 {
  font-family: var(--manrope-bold);
  text-transform: uppercase;
  font-size: 2.5rem;
}

.nav-wrapper {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.nav-wrapper-shrink {
  padding: 0.5rem 1rem;
  transition: all 0.5s ease;
}

nav {
  display: none;
}

nav ul {
  list-style-type: none;
  font-size: 1.2rem;
  line-height: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--black);
}

nav .active {
  color: var(--dark-green);
}

nav a:hover {
  color: var(--dark-gray);
}

.nav__logo {
  display: none;
}

.hamburger {
  display: none;
}

.hamburger-icon {
  position: absolute;
  z-index: 10;
  right: 2rem;
}

.hamburger:checked ~ nav {
  display: block;
  background-color: var(--green);
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 24px 12px;
}

.hamburger:checked ~ nav .nav__logo {
  display: block;
}

.hamburger:checked ~ nav ul {
  display: block;
  margin-top: 48px;
}

.shopping-bag {
  text-decoration: none;
  margin-right: 5rem;
  z-index: 11;
  position: relative;
}

.shopping-bag-list {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.shopping-bag-list-row {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  gap: 2rem;
  max-width: 400px;
  margin: 2rem auto;
}

.shopping-bag-list-row-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.shopping-bag-list__column {
  width: 100%;
  text-align: center;
}

.shopping-bag-list__column.total {
  font-weight: 900;
}

.shopping-bag-list__second-column {
  min-width: 150px;
}

.shopping-bag-list__title {
  font-size: 1.2rem;
  font-weight: 900;
}

.shopping-bag-list-header,
.shopping-bag-list-row {
  border-bottom: var(--dark-gray) 1px solid;
  padding: 1rem 0;
}

.shopping-bag-list__remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.shopping-bag-list__remove-button:hover {
  color: var(--red);
}

.shopping-bag__item-tag {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: -5px;
  border-radius: 100%;
  background-color: var(--red);
  color: var(--white);
  padding: 2px 6px 2px 6px;
  font-size: 0.8rem;
}

.shopping-bag__item-tag-filledNoAnimation {
  opacity: 1;
}

.shopping-bag__item-tag-filled {
  animation: fillBag 0.5s ease-in-out both;
}

@keyframes fillBag {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.hero-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
}

.hero {
  background-color: #03100176;
  display: flex;
}

.hero-section {
  position: relative;
}

.hero .container {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 1rem;
}

.hero h1 {
  background: -webkit-linear-gradient(45deg, #f1f1f1, #717171, #eaeaea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.hero p {
  color: var(--white);
  font-weight: 400;
  line-height: 1.5rem;
  text-shadow: rgba(0, 0, 0, 100%) 0 3px 6px;
}

.cta-button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.call-to-action {
  font-family: var(--source-sans-bold);
  background-color: var(--light-green);
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.5rem 1rem;
  min-width: 250px;
}

.call-to-action:hover {
  background-color: var(--green);
  box-shadow: rgba(0, 0, 0, 100%) 0 3px 12px;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

/* header section end */

/* main section */

main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

main > section > h1 {
  padding-top: 3rem;
}

main .container {
  padding: 0 1rem;
}

main .product-list,
main .bag {
  margin-top: 2rem;
}

h2 {
  font-family: var(--manrope-bold);
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}

main h2 {
  color: var(--dark-gray);
}

h3 {
  font-family: var(--source-sans-regular);
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0;
}

.price-tag-card {
  color: var(--dark-gray);
}

.available-sizes-card {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.discount-tag-card {
  color: var(--red);
  text-decoration: line-through;
  margin-left: 0.5rem;
}

.price-tag {
  font-weight: bold;
  color: var(--black);
  font-size: 1.5rem;
}

.price-tag.discounted {
  color: var(--dark-green);
}

.price-tag .currency {
  font-size: 0.8rem;
}

.price-tag .old-price {
  font-size: 1rem;
  color: var(--red);
  text-decoration: line-through;
}

.product-list {
  width: 100%;
}

.product-list h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.unstarred {
  color: var(--light-gray);
}

.starred {
  color: var(--starred);
}

.product-name-link {
  color: var(--dark-gray);
  text-decoration: none;
}

.product-name-link:hover {
  color: var(--green);
}

.product-list__image {
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

.product-list h1 {
  font-size: 2.5rem;
  color: var(--dark-gray);
}

.product-list h2 {
  margin-bottom: 1rem;
}

.product-list h1 + p {
  color: var(--dark-gray);
  font-size: 1rem;
  margin: 3rem 0;
}

.product-list__description {
  max-width: 200px;
}

.product-list ul {
  width: 100%;
  list-style: none;
  gap: 1rem;
}

.product-list ul li {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  transition: background-color 1s;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  padding: 1rem;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.deal-tag {
  position: absolute;
  top: -2.5rem;
  right: -3.5rem;
  font-family: var(--source-sans-black);
  font-size: 1.5rem;
  color: var(--red);
  transform: rotate(45deg);
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.product-list .product-list__image img {
  /*height: 150px;*/
  width: 100%;
  margin: auto;
  padding-bottom: 1rem;
}

.product-list__image img:hover {
  /*height: 150px;*/
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.filter-gender {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}

.max-price-slider {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.max-price-slider .label {
  text-transform: uppercase;
}

input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--light-gray);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--green);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--light-gray);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--light-gray);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(-green);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--green);
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2497e3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #2497e3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #2497e3;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #2497e3;
}

.filter-sort {
  color: var(--black);
  appearance: none;
  background: none;
  border: 1px solid var(--light-gray);
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}

.filters {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.green {
  color: var(--green);
}

.add-to-basket-container {
  width: 250px;
  padding-top: 4px;
}

.form-field__submit {
  margin: 2rem 0;
}

.purchase-button {
  cursor: pointer;
  background-color: var(--green);
  color: var(--black);
  padding: 1rem;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
}

.purchase-button:hover {
  background-color: var(--light-green);
}

.buy-button::before {
  content: url(../images/shopping-bag.svg);
}

.about {
  background-color: var(--blue-green);
  color: var(--white);
}

.about-wrapper {
  padding: 2rem 1rem;
}

.about-wrapper p {
  max-width: 600px;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

.about-wrapper h4 {
  margin-bottom: 1rem;
}

.about h4 {
  font-family: var(--manrope-bold);
  font-size: 1.5rem;
  color: var(--white);
}

.about-button {
  background-color: var(--green);
  color: #fff;
  padding: 12px 24px;
  max-width: 250px;
  text-transform: uppercase;
}

.about-button:hover {
  background-color: var(--light-green);
}

.about__jacket-img {
  border-radius: 15px;
}

.rating-stars {
  margin-bottom: 0.5rem;
}

.rating-stars img {
  width: 1rem;
}

.rating-count {
  font-size: 0.8rem;
  color: var(--dark-gray);
}

.rating img {
  height: 20px;
}

.rating p {
  font-size: 0.8rem;
  margin: 0;
  color: var(--dark-gray);
}

.ratings h4 {
  font-family: var(--josefin);
  font-size: 2rem;
  color: var(--dark-gray);
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
}

.ratings .card .profile-img {
  border-radius: 100%;
  min-height: 150px;
}

.ratings .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-color: var(--light-light-gray);
  padding: 1rem;
  border-radius: 5px;
  margin: 2rem 0;
}

.ratings .card .rating-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.ratings .card p {
  font-style: italic;
  max-width: 300px;
}

.ratings .review-name {
  color: var(--dark-gray);
}

footer {
  background-color: var(--dark-gray);
  color: var(--subtle-gray);
  padding: 3rem 12px;
  margin-top: 2rem;
}

form {
  margin: 1rem 0 1rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-input {
  border: none;
  background-color: var(--light-gray);
  border-radius: 10px;
  padding: 12px;
  width: 100%;
}

.form-input:focus {
  border: none;
  appearance: none;
  border-inline: none;
  background-color: var(--white);
  box-shadow: 0 0 10px 0 #000;
}

.form-input:required {
  border-left-width: 0.5px;
  border-left-style: solid;
  border-left-color: red;
}

.form-textarea {
  width: 100%;
}

.form-submit {
  cursor: pointer;
  background-color: var(--green);
  color: var(--black);
  padding: 1rem;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
}

.form-submit:hover {
  background-color: var(--light-green);
}

.message-box__success p {
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-content {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin: 2rem auto;
  line-height: 1.5rem;
  padding: 0 1rem;
}

.footer-header {
  text-transform: uppercase;
  grid-area: header;
}

.footer-links {
  grid-area: links;
}

.footer-links a {
  text-decoration: none;
  color: var(--white);
}

.footer-links a:hover {
  text-decoration: underline;
  color: var(--light-gray);
}

.footer-address {
  grid-area: address;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
}

/* contact page */

.faq {
  padding: 1rem 0;
}

.faq li {
  background-color: var(--light-light-gray);
  padding: 1rem;
  border-radius: 5px;
  max-width: 700px;
}

.faq h2 {
  margin: 2rem 0;
}

.faq ul {
  padding: 0;
  list-style: none;
}

.faq ul li h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--dark-gray);
  letter-spacing: 0.1rem;
}

.faq ul li {
  margin-bottom: 2rem;
}

.faq p {
  max-width: 600px;
  line-height: 1.5rem;
}

.contact-success-section {
  margin-top: 2rem;
}

.contact-hero {
  /* background: linear-gradient(0deg, rgba(0 0 0 / 50%), rgba(0 0 0 / 50%)), url(/images/bike-ride.jpg); */
  background-color: var(--medium-green);
  padding: 4rem 0;
}

.contact-hero h1 {
  color: var(--white);
}

.contact-hero p {
  font-size: 1.2rem;
  color: var(--white);
  max-width: 500px;
  font-weight: bold;
  line-height: 1.5rem;
}

/* product page */

.product-short-description {
  color: var(--dark-gray);
  font-size: 1rem;
  max-width: 400px;
}

.product-description {
  max-width: 400px;
}

.product-title-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: solid 1px var(--light-gray);
  padding-bottom: 1rem;
}

.options-select-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.options-field {
}

.options-container h3 {
  color: var(--dark-gray);
}

.options-container p {
  line-height: 1.5rem;
}

.product h1 {
  font-size: 1.7rem;
  font-weight: bold;
}

.product-image {
  margin: 2rem 0;
  width: 70%;
}

.option-label {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--black);
  font-weight: bold;
}

.quantity-input-container {
  margin-top: 0.5rem;
}

.option-label-value {
  font-size: 0.8rem;
  color: var(--dark-gray);
}

.size-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.size-options h3 {
  margin-bottom: 0.7rem;
}

.size-options-group {
  display: flex;
  padding: 0.7rem 0;
}

.size-options .radio {
  display: none;
  padding: 0;
}

.size-option label:hover {
  border-width: 2px;
  border-style: solid;
  border-color: var(--light-gray);
  border-radius: 5px;
}

.size-option label {
  padding: 0.5rem;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: var(--light-light-gray);
}

.size-option .radio:checked + label {
  border-style: solid;
  border-width: 2px;
  margin: 0 2px;
  border-radius: 5px;
  border-color: var(--green);
}

.quantity-button,
.quantity-input {
  padding: 0.7rem;
  background-color: transparent;
  border: solid;
  border-width: 1px;
  margin: 0;
}

.quantity-button {
  border-radius: 5px;
  cursor: pointer;
}

.quantity-button:hover {
  background-color: var(--light-light-gray);
}

.quantity-input {
  width: 6rem;
  text-align: center;
}

.breadcrumb {
  margin-top: 2rem;
}

.breadcrumb-back {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
}

.breadcrumb-back:hover {
  color: var(--dark-blue);
}

.shopping-bag__jacket-option {
  padding: 12px;
  border-style: solid;
  border-width: 1px;
}

.black {
  background-color: var(--black);
  color: var(--white);
}

.red {
  background-color: var(--red);
  color: var(--white);
}

.grey {
  background-color: var(--dark-gray);
  color: var(--white);
}

.shopping-bag__size-option {
  padding: 12px;
  border-style: solid;
  border-width: 1px;
}

.jacket-color {
  display: none;
}

.jacket-option {
  padding: 12px;
  cursor: pointer;
}

.jacket-option.red {
  background-color: var(--red);
  color: var(--white);
}

.jacket-option.black {
  background-color: var(--dark-gray);
  color: var(--white);
}

.jacket-color:checked + label {
  border-style: solid;
  border-width: 6px;
  border-color: #000;
}

/* shopping bag page */

.bag h1 {
  font-size: 2rem;
}

.bag-product-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.button {
  color: var(--black);
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  appearance: none;
}

.button img {
  width: 1rem;
  height: 1rem;
}

.checkout-button {
  background-color: var(--green);
  color: var(--black);
  width: 120px;
  text-align: center;
}

.checkout-button:hover {
  background-color: var(--light-green);
}

.shopping-bag-top,
.shopping-bag-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 12px 0;
}

.shopping-bag-bottom p {
  font-size: 1rem;
  background-color: var(--light-light-gray);
  padding: 12px;
  border-radius: 15px;
}

.product-image-bag {
  margin: 0;
  width: 100%;
}

.delete-checkbox {
  display: none;
}

.delete-checkbox + label {
  font-size: 1rem;
  color: red;
  cursor: pointer;
}

.delete-checkbox:checked ~ .modal {
  display: block;
}

.shopping-bag-list__first-heading {
  width: 100%;
}

.shopping-bag-list__heading {
  text-align: center;
  width: 100%;
}

.shopping-bag-list-header {
  width: 100%;
  display: none;
  justify-content: space-between;
}

.shopping-bag-list-row-fields {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.shopping-bag-list__column {
  text-align: left;
}

.shopping-bag-list__item,
.shopping-bag-list__quantity,
.shopping-bag-list__price,
.shopping-bag-list__total,
.shopping-bag-list__remove {
  text-align: center;
  width: 100%;
}

.shopping-bag-list__title {
  margin-bottom: 0.5rem;
}

.shopping-bag-list__size {
  font-size: 1rem;
  font-weight: 700;
}
.shopping-bag-list__total {
  font-weight: 700;
}

.shopping-bag-list__size-label {
  color: var(--dark-gray);
  font-size: 1rem;
  font-weight: normal;
}

.modal {
  position: fixed;
  top: 50vh;
  padding: 3rem;
  width: 100vw;
  display: none;
  background-color: var(--green);
  color: var(--white);
}

/* checkout page */

.checkout-success {
  width: 100%;
}

.checkout-success h1 {
  font-size: 2rem;
}

.checkout-success p {
  line-height: 1.3rem;
  max-width: 650px;
  margin: 1rem 0;
}

.section__checkout .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section__checkout h1 {
  font-size: 1.5rem;
  color: var(--dark-gray);
}

.section__checkout form {
  width: 100%;
}

.section__checkout .form-field {
  width: 100%;
}

.section__checkout .form-input {
  width: 100%;
}

.section__checkout h2 {
  font-size: 1rem;
  font-weight: bold;
}

.total-cost {
  font-size: 1.5rem;
  color: var(--dark-gray);
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.zipcode {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 1rem;
}

.text-alert {
  color: red;
}

/* media queries */

@media screen and (min-width: 550px) {
  .form {
    width: 65%;
  }
  .product-list ul {
    display: flex;
    flex-wrap: wrap;
  }
  .product-list ul li {
    max-width: 250px;
  }
}

@media screen and (min-width: 800px) {
  .shopping-bag-list__remove-button {
    padding-top: 0;
  }

  .shopping-bag-list-row-fields {
    flex-direction: row;
    align-items: center;
  }

  .shopping-bag-list__first-column {
    min-width: 150px;
    width: min-content;
  }

  .shopping-bag-list__column {
    margin: 0;
    text-align: center;
  }

  .shopping-bag-list__second-column {
    margin: 0;
    min-width: 150px;
    padding-inline: 1rem;
  }
  .shopping-bag {
    margin-right: 1rem;
  }

  .shopping-bag-list-header {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--dark-gray);
  }

  .shopping-bag-list__first-heading {
    min-width: 300px;
  }

  .shopping-bag-list-row {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0;
  }

  .shopping-bag-list__item {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    font-weight: 700;
    font-size: 1.2rem;
    min-width: 300px;
  }

  .shopping-bag-list__total {
    font-weight: normal;
  }

  .section__checkout form {
    width: 600px;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger,
  .hamburger-icon {
    display: none;
  }

  main {
    margin: 0;
  }

  h1 {
    font-size: 3rem;
  }

  nav {
    display: block;
  }

  nav ul {
    display: flex;
    font-size: 1rem;
  }

  nav ul li {
    margin-left: 24px;
  }

  .container {
    margin: 0 auto;
  }

  .hero p {
    font-size: 1rem;
    line-height: 3rem;
  }

  .product .container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "image options";
  }

  .heading-container {
    grid-area: heading;
    border-bottom: solid 1px var(--light-gray);
  }

  .image-container {
    grid-area: image;
  }

  .options-container {
    grid-area: options;
  }

  .ratings .ratings-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .footer-content {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "header header"
      "links address";
    column-gap: 5rem;
    row-gap: 0.7rem;
  }

  .shopping-bag-bottom p {
    font-size: 1.5rem;
    background-color: var(--light-light-gray);
    padding: 12px;
    border-radius: 15px;
  }

  .about h4 {
    font-size: 3rem;
  }
}
